# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
.env

# Models & data (DVC will track these from Module 2)
models/*.pkl
models/*.onnx
data/raw/
data/processed/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Terraform (Module 2+)
*.tfstate*
.terraform/
